trigger:
  - main
schedules:
  - cron: "0 18 * * *"   # Runs at 12:00 AM IST (18:00 UTC)
    displayName: "Daily Midnight Run"
    branches:
      include:
        - main
    always: true
    
pool:
  name: lenovo

steps:
- checkout: self


# Run Maven tests
- script: mvn clean test
  displayName: "Run Selenium TestNG Tests"
  condition: succeededOrFailed()       # <-- Test step runs even if tests fail
  

# Publish TestNG Test Results
- task: PublishTestResults@2
  displayName: 'Publish Testng XML Results'
  condition: always()                  # <-- NEVER SKIP
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: '**/target/surefire-reports/TEST-*.xml'
    failTaskOnFailedTests: false       # <-- Prevent pipeline from stopping
    testRunTitle: 'Automation Test Results'

- task: PublishBuildArtifacts@1
  condition: always()                  # <-- NEVER SKIP
  
  inputs:
    PathtoPublish: 'target/surefire-reports'
    ArtifactName: 'TestNG-Reports'
    publishLocation: 'Container'

